{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        {% block form %}
            <div class="form-group">
                {{ form_start(form) }}
                {{ form_row(form.email, {'attr': {'class': 'form-control'}}) }}
                {{ form_row(form.password, {'attr': {'class': 'form-control'}}) }}
                {{ form_row(form.roles, {'attr': {'class': 'form-control'}}) }}
                <div class="form-group mt-3">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
                {{ form_end(form) }}
            </div>
        {% endblock %}
    </div>
{% endblock %}